/* Fixes are for some things being broken */

[data-type=list] {
	padding-left: 0px;
	padding-right: 0px;
}

[data-type=list] ul {
	padding: 0 1.5rem !important;
	overflow: auto !important;
}

[data-type="list"] li p, [data-type="list"] li p:first-of-type {
	padding-left: 1.5rem;
}
